@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
body {
  background-image: url("../Img/bg.png");
  background-color: #b84d45;
  background-repeat: repeat;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px; }

header {
  position: relative; }

a {
  color: white;
  text-decoration: none; }

a:hover {
  opacity: 0.7; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

li {
  position: relative; }

p {
  margin: 0; }

.ah-pull-right {
  float: right; }

.ah-pull-left {
  float: left; }

.ah-txtbox {
  padding: 10px 12px;
  margin: 0px 3px;
  width: 600px;
  border: 0;
  border-radius: 3px;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize; }

.ah-alert-success {
  border-radius: 4px;
  position: absolute;
  width: 50%;
  padding: 15px;
  background-color: #DFF0D8;
  color: #3c763d;
  margin: 3px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: none;
  z-index: 2; }

.ah-alert-warning {
  border-radius: 4px;
  position: absolute;
  width: 50%;
  padding: 15px;
  background-color: #FCF8E3;
  color: #8a6d3b;
  margin: 3px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: none;
  z-index: 2; }

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../Img/gears.svg) center no-repeat #2a2a2a; }

.ah-navbar {
  position: relative;
  width: 100%;
  height: 50px;
  max-height: 100px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#525252+0,454545+100 */
  background: #525252;
  /* Old browsers */
  background: -moz-linear-gradient(top, #525252 0%, #454545 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #525252 0%, #454545 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #525252 0%, #454545 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#454545',GradientType=0 );
  /* IE6-9 */
  border-bottom: 1px solid darkgray;
  display: table; }

.ah-logo {
  position: relative;
  display: table-cell;
  width: 250px;
  height: 50px;
  border-right: 1px solid darkgray;
  text-align: center; }
  .ah-logo .ah-lbl-logo {
    max-height: 50px; }
    .ah-logo .ah-lbl-logo a {
      padding: 16px 95px;
      line-height: 50px;
      color: #EAC14D; }
    .ah-logo .ah-lbl-logo a:hover {
      color: whitesmoke !important;
      opacity: 1; }

.ah-nav-menu {
  position: relative;
  display: table-cell;
  max-height: 50px; }

ul#ah-menus {
  text-align: center; }
  ul#ah-menus li {
    display: inline-block; }
  ul#ah-menus input {
    cursor: pointer; }

.wrapper {
  position: relative; }

.ah-middle-content {
  width: 600px;
  height: 400px;
  border: 1px solid #EAC14D;
  -webkit-border-radius: 2px;
  -moz-border-radius-: 2px;
  border-radius: 2px;
  background-color: #FFF5FF;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 0; }
  .ah-middle-content #ah-sortbar {
    position: relative;
    padding: 4px 4px; }
    .ah-middle-content #ah-sortbar #adswithphotos {
      width: 200px;
      border: 1px solid #EAC14D;
      -webkit-border-radius: 2px;
      -moz-border-radius-: 2px;
      border-radius: 2px;
      border-bottom: none;
      display: table-cell; }
      .ah-middle-content #ah-sortbar #adswithphotos span {
        padding: 0px 20px; }
    .ah-middle-content #ah-sortbar #adswithsorting {
      display: table-cell;
      position: relative;
      width: 66%;
      clear: both; }
      .ah-middle-content #ah-sortbar #adswithsorting li {
        display: inline-block;
        padding: 0px 1px; }
      .ah-middle-content #ah-sortbar #adswithsorting .view {
        position: relative;
        top: 3px; }
  .ah-middle-content .ah-show-products {
    background-color: antiquewhite;
    max-height: 360px;
    padding: 4px 4px;
    overflow-y: hidden; }
    .ah-middle-content .ah-show-products li {
      border: 1px solid #cccccc;
      -webkit-border-radius: 2px;
      -moz-border-radius-: 2px;
      border-radius: 2px;
      background-color: #EEEEEE;
      padding: 6px 6px;
      margin: 4px 0px; }

.ah-search-criteria {
  width: 600px;
  display: table-cell;
  background-color: #EAC14D;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #FFF5FF;
  -webkit-border-radius: 2px;
  -moz-border-radius-: 2px;
  border-radius: 2px;
  z-index: 1; }
  .ah-search-criteria input {
    padding: 6px 4px;
    margin: 5px 0px;
    width: 180px;
    text-transform: none; }
  .ah-search-criteria li {
    padding: 0px 6px; }
  .ah-search-criteria span {
    position: absolute;
    right: 10px;
    top: 14px; }

.ah-city, .ah-category, .ah-product {
  width: 180px;
  height: 202px;
  position: absolute;
  background-color: antiquewhite;
  top: 42px;
  border: 1px solid #EAC14D;
  -webkit-border-radius: 2px;
  -moz-border-radius-: 2px;
  border-radius: 2px;
  text-align: left;
  overflow-y: hidden;
  display: none; }
  .ah-city li, .ah-category li, .ah-product li {
    background: #FED9D7;
    display: block !important;
    padding: 5px 5px;
    font-weight: 400; }
    .ah-city li ul, .ah-category li ul, .ah-product li ul {
      display: none; }
      .ah-city li ul li, .ah-category li ul li, .ah-product li ul li {
        padding: 0px 5px;
        font-weight: 300;
        font-size: 12px;
        background-color: white !important; }
  .ah-city li:nth-child(odd), .ah-category li:nth-child(odd), .ah-product li:nth-child(odd) {
    background: #FEB4B0; }

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 6px 0px;
  background-color: #222222;
  border-top: 1px solid darkgray;
  text-align: center; }
  footer .ah-social-icon {
    position: relative;
    display: table;
    width: 100%; }
  footer .ah-social-icon ul {
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 10px 0px; }
  footer .ah-social-icon ul li {
    display: inline-block;
    padding: 0px 6px; }
  footer #ah-footer-company {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    color: darkgray; }

/*# sourceMappingURL=mystyle.css.map */